cache:
    ccache: true
    directories:
        - $HOME/perl_modules
os: linux
dist: trusty
before_install:
    - sudo apt-get update -qq
    - sudo apt-get --no-install-recommends install -y build-essential cmake cpanminus fortune-mod hunspell libdb5.3-dev libgd-dev libhunspell-dev libncurses-dev libpcre3-dev libperl-dev lynx perl myspell-en-gb python3 python3-setuptools python3-pip valgrind xsltproc xz-utils zip
    - cpanm local::lib
    - eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
    - cpanm Bit::Vector Carp::Always Class::XSAccessor File::Which GD Getopt::Long IO::All Image::Size Perl::Critic Perl::Tidy Test::Code::TidyAll Term::ReadKey
python:
    - "3.5"
script:
    - mkdir build
    - cd build
    - WML_TEST_BUILD=1 perl ../src/wml_test/run_test.pl
