addons:
    apt:
        packages:
            - build-essential
            - cmake
            - cpanminus
            - hunspell
            - hunspell-en-gb
            - libdb5.3-dev
            - libgd-dev
            - libhunspell-dev
            - libncurses-dev
            - libpcre3-dev
            - libperl-dev
            - lynx
            - perl
            - txt2html
            - xz-utils
            - zip
cache:
    ccache: true
    directories:
        - $HOME/perl_modules
        - $HOME/tidyall.d
os: linux
dist: focal
install:
    - cpanm local::lib
    - eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
    - cpanm --notest Net::SSLeay
    - cpanm --notest Bit::Vector Carp::Always Class::XSAccessor Code::TidyAll::Plugin::TestCount Docker::CLI::Wrapper::Container File::Which GD Getopt::Long HTML::TextToHTML Image::Size Path::Tiny Perl::Critic Perl::Tidy Term::ReadKey Test::Code::TidyAll
language: perl
perl:
    - "5.36"
script:
    - perl CI-testing/runtest.pl
